{% extends "index.html" %}      
{% block content %}		
<div class="container-fluid" style="margin-top:100px;">
	<div class="col-md-offset-4 col-md-4">	
        <table class="table table-bordered">
            <tr>
                <h3 class="text-primary page-header text-center">Output</h3>
            </tr>
            <tr>	
                <th>Ans1</th>
                <td>{{Ans1}}</td>
            </tr>
            <tr>	
                <th>Ans2</th>
                <td>{{Ans2}}</td>
            </tr>
            <tr>	
                <th>Ans3</th>
                <td>{{Ans3}}</td>
            </tr>
            <tr>	
                <th>Ans4</th>
                <td>{{Ans4}}</td>
            </tr>
        </table>
	</div>		
</div>	
{% endblock %}	